::root {
    --color-brand: #332a23;
  --color-text-strong: #7b593f;
  --color-text-weak: #8c8578;
  --color-stroke-strong: #a48a56;
  --color-stroke-weak: #e3dfde;
  --color-fill: #ffffff;
  --color-background: #efebea;
  --color-surface: #ffffff;
  --shadow-raised: 0 4px 8px rgba(51, 42, 35, 0.1);
  --shadow-overlay: 0 6px 8px 3px rgba(51, 42, 35, 0.1);

  --font-h1: 'Playfair Display', Georgia, serif;
  --font-heading: 'Marcellus', Georgia, serif;
  --font-body: 'Lato', Arial, sans-serif;
  --font-mono: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

body {
  margin: 0;
  font-family: var(--font-body);
  color: var(--color-text-strong);
  background: var(--color-background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.offers-section {
  width: 100%;
  min-height: 100vh;

  /* BACKGROUND IMAGE */
  background-image: url("../src/assets/wide_Img1.jpg");
  filter: brightness(90%);
  opacity: 0.9;
  background-size: cover;
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 50px;
  font-family: var(--font-body);
}



/* CONTENT WRAPPER */
.offers-container {
  position: relative;
  z-index: 2;

  width: 100%;
  max-width: 1100px;
}

/* TOP TEXT */
.offers-header {
  color: var(--color-stroke-weak);
  margin-bottom: 25px;
}

/* MAIN TITLE */
.offers-header h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
  color: var(--color-stroke-weak);
}

/* SUBTITLE */
.offers-header p {
  font-size: 1rem;
  opacity: 0.9;
}

/* OFFER CARD */
.offer-card {
  width: 100%;
  background: rgba(255, 255, 255, 0.2);
  border: 2px solid var(--color-text-weak);
  backdrop-filter: blur(8px);
  border-radius: 20px;
  padding: 18px;
  display: flex;
  align-items: center;
  gap: 25px;
  transition: 0.4s ease;
}

/* CARD HOVER */
.offer-card:hover {
  transform: translateY(-6px);
  background: rgba(255, 255, 255, 0.2);
}

/* IMAGE CONTAINER */
.offer-image {
  width: 180px;
  height: 120px;

  overflow: hidden;
  border-radius: 12px;
}

/* IMAGE */
.offer-image img {
  width: 100%;
  height: 100%;

  object-fit: cover;

  transition: 0.5s ease;
}

/* IMAGE HOVER */
.offer-card:hover .offer-image img {
  transform: scale(1.08);
}

/* RIGHT CONTENT */
.offer-content {
  flex: 1;
  color: var(--color-brand);
}

/* SMALL TEXT */
.offer-content span {
  font-size: 0.8rem;

  opacity: 0.8;
}

/* BIG TITLE */
.offer-content h2 {
  font-size: 2.2rem;
  margin: 10px 0;
  color: var(--color-brand);
}

/* DESCRIPTION */
.offer-content p {
  max-width: 600px;

  line-height: 1.6;

  margin-bottom: 20px;
}

/* BUTTON */
.deal-btn {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 12px 18px;
  border: 2px solid rgba(255, 255, 255, 0.4);
  background: transparent;
  color: var(--color-background);
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s ease;
}

/* BUTTON HOVER */
.deal-btn:hover {
  background: var(--color-stroke-weak);
  color: var(--color-brand);
}

/* ARROW BOX */
.arrow-box {
  width: 35px;
  height: 35px;
  background: var(--color-stroke-weak);
  color: var(--color-brand);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  transition: 0.3s ease;
}

/* ARROW ANIMATION */
.deal-btn:hover .arrow-box {
  transform: rotate(45deg);

  background: var(--color-brand);
  color: var(--color-stroke-weak);
}


